body {
    background-color: black;
}
h5 {
    color: #ffff;
}

* {
    font-family: 'Roboto', sans-serif!important;
  }
  
.logo{
    width: 60px;
    height: 60px;
}

li{
    list-style: none;
    line-height: 2  ;
    color: white;
    margin-left: -30px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

li > a:hover{
    color: white;
    border-bottom: 1px solid white;
}

.imgScroll{
    background-image: url("https://hayat.rest/image/catalog/blog/shutterstock_644368891(1).jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-color: #00000061;
    background-size: cover;
    width: 100%;
    height: 900px;
}

.Text{
    align-self: center;
    font-weight: 600;
}

.containerMedia{
    width: 1230px;
    margin: 0 auto;
}

.containerMediaYellow{
    width: 1230px;
    margin: 0 auto;

}

.containerM{
    width: 78%;
    margin:  0 auto;
}

.textHeader{
    width: 70%;
    font-weight: bold;
    font-size: 60px;
    color: white;
    padding-top: 140px;
}

.widthHeader{
    width: 60%;
    color: #fff;
}

.textWhite{
    color: #fff;
}

.textH{
    color: #fff;
    width: 70%;
}

.dHeader{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.imgScroll2{
    background-image: url("https://i.wfolio.com/x/KfN2JhbB89-m6UeUSQ-43b-4LTDPyZVn/q6sVLUvjujnOk6mXbO2srbIKpPlcOqy0/t7rVx8PT5NFW95R5iPfYgBdCvXqdZSYC/zyAGIGx14QnH8prwkbZ-T_VQC0dpw9Hp/imD7pN62XUepN3NSIwunZtHvq02v6LB8/yE5Gq-OAOOI1IX2tTmQsOLmgNkTbQVHl/hATQDrKIpTjQz5Le9VKwpiiYp9LlVfKN/S39tj667aW8d2iZLjo7c7b8v02WT2V4m/b3gUlBeXO6ScLEOwzOuXvy1m-6Ftkzgo/gNuoHFQ6HnLYfHFD_I67kBDo-9BE6GkD/-lWE9slp396Kn0fnPqsIwvTizyTrpgSF/KJG3xcK6ygjIU5-mpoJGU8xE2essKAS0/_Jk91fAahdWUAg2TBJAy0NbQq35bZuRi/LbeCMnjsQZ5RFYKWqXK6IWyat7wD173E/s47BEe7UtBo0yGRWIkG9qegs_E4-wReT/1xSc7pG2jpjXBMTMp_4cEWJHCfEfwpfk/3Z_c9dHzu0Dd7TKGcO07jIUJ5o7k0LFM/M60BK5g5GkA.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-color: #00000061;
    background-size: cover;
    width: 100%;
    height: 900px;
}

.tex{
    margin-left: -18px;
    padding-right: 10px;
}

.dHeader2{
    width: 94%;
    display: flex;
    flex-wrap: wrap;
}

.block{
    width: 380px;
}

.font{
    font-size: 12px;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-top: 18px;
}

.textNav{
    font-weight: bold;
    font-size: 20px;
}

.textNav2{
    font-size: 14px;
    line-height: 0;
    margin-top: 3px;
    margin-left: 80px;
}

.px{
    padding-left: 60px;
}

.textNav3{
    font-size: 14px;
    line-height: 0;
    margin-top: 3px;
    margin-left: 105px;
}

.offcanvasend{
    top: 0;
    width: 280px;
    /*border-left: 1px solid rgba(0,0,0,.2);*/
    transform: translateY(100%);
    /*right: 0;*/
    left: 0;
}

.aboutFlex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}


.textAbout{
    line-height: 1;
    font-weight: bold;
    font-size: 36px;
    width: 40px;
    color: #fff;
}

.aboutText2{
    font-weight: 300;
    font-size: 16px;
    padding-top: 10px;
}

.imgAbout{
    height: 400px;
    border-radius: 12px;
}

.textAboutWidth{
    font-weight: 300;
    width: 400px;
    margin-right: 20px;
    color: #fff;
}

.textAboutWidth{
    width: 400px;
    margin-left: 20px;
}

.wAbout{
    width: 300px;
}

.dflex{
    display: flex;
}

.width{
    margin-left: 20px;
}

.fons{
    background-color: black;
    width: 100%;
}

.omgInc{
    z-index: 2;
}


.Dflex{
    display: flex;
    justify-content: center;
}

.InsuranceImg{
    width: 100%;
    background-color: #4b4b4b;
    margin-top: 70px;
    margin-left: -90px;
    z-index: 1;
    height: 345px;
    border-radius: 12px;
}

.wInsurance > h4 {
    color: #fff;
}

.wInsurance > p {
    color: #fff;
}

.pt{
    padding: 40px 0px 0px 0px;
}

.wInsurance{
    width: 84%;
    padding-left: 120px;
}

.wInsurance > p{
    font-weight: 300;
}

.ptIn{
    padding-top: 40px;
    margin-bottom: 20px;
}

.fonsYellow{
    width: 100%;
    height: 160px;
    /* background-color: #f19a0e; */
    z-index: 1;
}

.yellowB{
    margin-top: 120px;
}

.yellowBlock{
    display: flex;
    z-index: 3;
    margin-top: -260px;
}
.grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
.dYellow{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.dYellow2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dYellow2 > div {
    width: 400px;
    margin: 10px;
}



.dYellow::-webkit-scrollbar {
    /* background-color: #B2B2B2; */
    width: 12px;
    background-position: center;
    background-size: 2px 1px;
    background-repeat: repeat-y;
    background-image: url('https://i2.wp.com/assets.codepen.io/internal/avatars/users/default.png?ssl=1');
  }
  
  .dYellow::-webkit-scrollbar-thumb {
    background-color: #95815E;
  }

.yellowImg{
    /* width: 300px; */
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    /* margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px; */
}

.yellowImg > img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #fff;
}



/* .yellowImg2  {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
} */

.textYellow{
    padding-top: 5px;
    color: black;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;
}

.yellowImg2{
    background-color: #4d4d4d;
}

.yellowImg3{
    background-color: #404040;
}

.yellowImg4{
    background-color: #333333;
}

.textServices{
    font-weight: bold;
}

.servicesWidth{
    width: 360px;
}

.servicesWidth > div > p {
    color: #fff;
}
.servicesImg > img{
    width: 100%;
}

.servicesPt{
    padding-top: 80px;
}

.servicesFlex{
    display: flex;
    justify-content: space-between;
}

.fw{
    font-weight: 300;
}

.CarFons{
    background-image: url("https://focus.ua/static/storage/thumbs/920x465/e/d2/ee24729d-30125853274b22b7ccde22c682457d2e.jpg?v=5717_1");
    background-blend-mode: darken;
    background-color: #000000a1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
}

.servicesPb{
    padding-bottom: 80px;
}

.servicesPost{
    width: 74%;
    margin: 0 auto;
    padding-top: 180px;
}

.carText{
    font-weight: 300;
}

.carText {
    color: #fff!important;
}

.logo2{
    width: 40px;
    height: 40px;
}

.text-white {
    font-size: 20px;
    font-weight: bold;
}

.navigationImg{
    background-image: url("http://eragroup.kg/img/roadmap.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*width: 100%;*/
    height: 600px;
}

.navigationMap{
    display: none;
}

.tel{
    height: 50px;
}

.hr{
    color: white;
    width: 113%;
    margin-left: -16px;
}

.textContact{
    width: 50%;
    margin: 0 auto;
}

.imgContact > img{
    width: 70px;
    height: 70px;
}

.zIndex{
    z-index: 1;
}

.zIndex2{
    position: absolute;
    width: 260px;
    height: 408px;
    background-color: white;
    margin-top: -460px;
    margin-left: 70px;
}

.textSimple{
    font-size: 14px;
}

.block_whatsApp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_whatsApp > a {
    margin-top: -5px;
}

.offcanvas-end {
    width: 100%;
}

.offcanvas  {
    background-color: black;
}

.price {
    position: absolute;
    bottom: 0;
}

.btn-outline-secondary {
    border: 1px solid #ffce00;
    color: #ffce00;
}

.btn-outline-secondary:hover {
    color: #25d366;
    background-color: #ffce00;
    border: none;
}